# macOS system files
.DS_Store
.Trash
.Library
.Applications
.Desktop
.Music
.Movies
.Pictures
.Public
.Documents

# Python
__pycache__/
*.pyc
.env

# Node.js
node_modules/
package-lock.json

# Editor settings
.vscode/
.idea/

# Others
*.log

